@page "/about"

<PageTitle>Clayze Server</PageTitle>

<h1>About</h1>

<p>The Clayze server is a websocket server. It's only job is to keep a list syncronized amongst clients. It receives items and then pushes them to everyone else.</p>
<p>This webapp is a debug view of the current content. This webapp is conntained in the same project as the server. It uses Blazor.</p>
<ul>
    <li>
        <a href="https://github.com/hunterdyar/ClayzeServerApp">GitHub</a> repo.
    </li>
</ul>