@page "/dataview"
@using ClayzeBlazorServer.Datashare
@using ClayzeBlazorServer.Models
@attribute [StreamRendering]

<PageTitle>Data</PageTitle>

<h1>Data Store Debug</h1>

<p>This component demonstrates showing data.</p>

@if (dataStore == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Item id</th>
            <th>Message (utf8)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var itemPair in dataStore.GetAllRawData())
        {
            <tr>
                <td>@itemPair.Item1</td>
                <td>@itemPair.Item2.PrettyPrint()</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private ListDataStore<byte[]> dataStore;

    protected override async Task OnInitializedAsync()
    {
        DataStoreHub.TryGetDataStore("test", out dataStore);
        dataStore.OnItemAdded += OnItemAdded;
    }

    private void OnItemAdded(int arg1, byte[] arg2, string arg3)
    {
    }

}