@page "/"
@using ClayzeBlazorServer.Datashare
@using ClayzeBlazorServer.Models
@using ClayzeBlazorServer.Components.Layout
@attribute [StreamRendering]

<PageTitle>Clayze Server Data</PageTitle>
<h1>Clayze Server</h1>
<p>The Clayze server is a websocket server. It's only job is to keep a list syncronized between clients. It receives
    items and then pushes them to everyone else.</p>
<p>This webapp is a debug view of the current content. This webapp is conntained in the same project as the server. It
    was made using <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a>, and is hosted on Microsoft's Azure cloud <a href="https://azure.microsoft.com/en-us/products/app-service/web" target="_blank">web app</a> hosting.</p>
<ul>
    <li><a href="https://github.com/hunterdyar/Clayze-Server">GitHub</a> repo</li>
    <li><a href="https://github.com/hunterdyar/Clayze">Clayze Package</a> (client)</li>
    <li><a href="https://clayze.hyar.com">Clayze</a> project page</li>
</ul>

<hr>

<h2>Active Data Stores</h2>
<ul>
    @foreach (var item in DataStoreHub.AllStores)
    {
        <li><a href="./store/@item">@item</a></li>
    }
</ul>